<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">小型超市管理系统</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-default">
                <li><a href="/purchase">进货管理</a></li>
                <li><a href="/sales">销售管理</a></li>
                <li><a href="/stock">库存管理</a></li>
                <li><a href="/hr">人事管理</a></li>
                <li><a href="/money">财务</a></li>
                <li><a href="/access">辅助功能</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        欢迎您，<span th:text="${session.userinfo.name}">请登录</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">个人资料</a></li>
                        <li><a href="/password">修改密码</a></li>
                        <li class="divider"></li>
                        <li><a href="/exit">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h2>人事管理</h2>
        <a class="btn btn-default" href="/allSupplier" role="button">所有职工</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" href="/addSupplier" role="button">增加职工</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default active" href="/allSupplier" role="button">所有供货商</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" href="/addSupplier" role="button">增加供货商</a>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger" onclick="history.go(-1)">返回</button><h3>所有供货商</h3>
        <div class="with:80%">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>供货商号</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="supplier : ${session.suppliers}">
                    <th scope="row" th:text="${supplier.name}"></th>
                    <td th:text="${supplier.id}"></td>
                    <td style="width: 20px">
                        <form method="get" th:action="@{/editSupplier}">
                            <input th:name="editId" th:value="${supplier.id}" type="hidden"/>
                            <button class="btn btn-default" type="submit">编辑</button>
                        </form>
                    </td>
                    <td style="width: 20px">
                        <form method="get" th:action="@{/deleteSupplier}">
                            <input th:name="editId" th:value="${supplier.id}" type="hidden"/>
                            <button class="btn btn-danger" type="submit">删除</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer no-margin-top">
    <ul class="pagination pull-right no-margin">

        <!-- 首页 -->
        <li>
            <a th:href="'/allSupplier?pageNum=0'">第一页</a>
        </li>

        <!-- 上一页 -->
        <li th:if="${session.suppliers.hasPrevious()}">
            <a th:href="'/allSupplier?pageNum=' + ${session.suppliers.previousPageable().getPageNumber()}"
               th:text="上一页"></a>
        </li>

        <!-- 下一页 -->
        <li th:if="${session.suppliers.hasNext()}">
            <a th:href="'/allSupplier?pageNum=' + ${session.suppliers.nextPageable().getPageNumber()}"
               th:text="下一页"></a>
        </li>

        <!-- 尾页 -->
        <li>
            <a th:href="'/allSupplier?pageNum=' + ${session.suppliers.getTotalPages() - 1}">最后一页</a>
        </li>
    </ul>
</div>
</body>
</html>